.glyph {
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: text-bottom;
  line-height: 28px;
  margin: 2px;
}
.glyph-envelope {
  background-image: url('../img/glyphicons_010_envelope.png');
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .glyph-envelope {
    background-image: url('../img/glyphicons_010_envelope@2x.png');
    background-size: 24px 16px;
  }
}
.glyph-search {
  background-image: url('../img/glyphicons_027_search.png');
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .glyph-search {
    background-image: url('../img/glyphicons_027_search@2x.png');
    background-size: 24px 24px;
  }
}
.glyph-stats {
  background-image: url('../img/glyphicons_040_stats.png');
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .glyph-stats {
    background-image: url('../img/glyphicons_040_stats@2x.png');
    background-size: 26px 25px;
  }
}
.glyph-file {
  background-image: url('../img/glyphicons_036_file.png');
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .glyph-file {
    background-image: url('../img/glyphicons_036_file@2x.png');
    background-size: 19px 24px;
  }
}
.glyph-user {
  background-image: url('../img/glyphicons_003_user.png');
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .glyph-user {
    background-image: url('../img/glyphicons_003_user@2x.png');
    background-size: 23px 22px;
  }
}
