body {
  padding-bottom: 50px;
  background-color: #00507b;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48cmFkaWFsR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiBjeD0iNTAlIiBjeT0iNTAlIiByPSI3NSUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDUwN0IiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iNDUlIiBzdG9wLWNvbG9yPSIjMDA1MDdCIiBzdG9wLW9wYWNpdHk9IjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMzMzMzMiIHN0b3Atb3BhY2l0eT0iMSIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPjwvc3ZnPg==);
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #00507B 0%, #00507B 45%, #333333 100%);
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #00507B 0%, #00507B 45%, #333333 100%);
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #00507B 0%, #00507B 45%, #333333 100%);
  background-image: radial-gradient(ellipse farthest-corner at center, #00507B 0%, #00507B 45%, #333333 100%);
}
.background-shadow {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48cmFkaWFsR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiBjeD0iNTAlIiBjeT0iNTAlIiByPSI3NSUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDUwN0IiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iNDUlIiBzdG9wLWNvbG9yPSIjMDA1MDdCIiBzdG9wLW9wYWNpdHk9IjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMzMzMzMiIHN0b3Atb3BhY2l0eT0iMSIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPjwvc3ZnPg==);
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #00507B 0%, #00507B 45%, #333333 100%);
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #00507B 0%, #00507B 45%, #333333 100%);
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #00507B 0%, #00507B 45%, #333333 100%);
  background-image: radial-gradient(ellipse farthest-corner at center, #00507B 0%, #00507B 45%, #333333 100%);
}
.avatar-border {
  border-radius: 50%;
  color: 0 0 5px #333333;
  box-shadow: 0 0 5px #333333;
  -moz-box-shadow: 0 0 5px #333333;
  -webkit-box-shadow: 0 0 5px #333333;
}
.hero-unit > .muted {
  font-family: 'Roboto Condensed', 'Roboto', Helvetica, sans-serif;
}
img.avatar {
  border-radius: 50%;
  color: 0 0 5px #333333;
  box-shadow: 0 0 5px #333333;
  -moz-box-shadow: 0 0 5px #333333;
  -webkit-box-shadow: 0 0 5px #333333;
  display: block-inline;
  margin: 20px;
}
.thumbnail > img {
  width: 325px;
}
#thumbnails {
  text-align: center;
}
div.social-media {
  text-align: center;
}
.social-media > h2 {
  margin-bottom: 15px;
  margin-top: 50px;
}
.container-narrow {
  margin: 0 auto;
  color: 0 0 30px #000000;
  box-shadow: 0 0 30px #000000;
  -moz-box-shadow: 0 0 30px #000000;
  -webkit-box-shadow: 0 0 30px #000000;
  padding: 30px;
  background-color: #fff;
  max-width: 700px;
}
h1 {
  text-align: center;
  line-height: 1.25;
  font-size: 70px;
  padding-bottom: 35px;
}
.page-header > small {
  font-family: 'Roboto Condensed', 'Roboto', Helvetica, sans-serif;
}
h2 {
  font-size: 36px;
  margin: 30px 0;
}
.banner {
  margin: 40px 0px;
  text-align: center;
}
p.statistics {
  font-size: 28px;
}
div.statistics > ul > li {
  margin: 30px 0;
  line-height: 1.5;
}
div.statistics > ul > li > img {
  margin-right: 30px;
  width: 30px;
  vertical-align: text-middle;
}
